@import "tailwindcss";
/* i don't need to add source('./src')//because in vite.config.js i have already stated src as the root folder, and it also se the same root folder for tailwind.*/

/* @layer base {
  html{
    @apply font-a
  }
} */

@theme {
  --breakpoint-vsm: 36.25rem;
  --breakpoint-bmd: 51.5rem;
  --breakpoint-blg: 72.625rem;
  --breakpoint-bxl: 86.25rem;
}

@layer components {
  button.hamburger-menu {
    @apply space-y-1 mr-4;
  }

  button.hamburger-menu > div {
    @apply w-6 rounded-[0.0625rem] h-[3px] bg-white;
  }

  button.hamburger-menu.active > :nth-child(1) {
    @apply w-3 rotate-[45deg] rounded-l-none translate-y-1 translate-x-3.5;
  }

  /*   button.hamburger-menu.active > :nth-child(2) {
    @apply hidden;
  } */
  button.hamburger-menu.active > :nth-child(3) {
    @apply w-3 rotate-[-45deg] rounded-l-none -translate-y-1 translate-x-3.5;
  }

  /*  nav.active {
    @apply !block; // i know how to do it as well. 
    width: 11px;
    transform: translate(13px, -3px) rotate(-45deg);
    } */
  nav.navigation {
    @apply hidden -z-1 [.active]:!block pt-12 max-w-[144px] h-[239px] bg-emerald-700 rounded-sm absolute top-4 right-4;
  }

  nav.navigation div {
    @apply space-y-1.5;
  }

  a.nav__option {
    @apply text-base font-bold px-4 py-0.5 inline-block;
  }

  .hero-section__bg-img-1 {
    @apply bg-[url(./resource/background-image-1-hero-section.png)];
  }
  
  .hero-section__bg-img-1__title {
    @apply text-[max(32px,6vw)]/[max(1.9rem,6vw)] sm:text-[min(7vw,96px)]/[min(7vw,6rem)] font-bold max-w-0 ml-[15%] sm:mt-[15%];
  }
  
  .hero-section__bg-img-2 {
    @apply bg-[url(./resource/background-image-2-hero-section.png)];
  }
 /*  .about-section__bg-img {
    @apply ];
  } */
}

@utility text-tittle {
  @apply text-[clamp(24px,6vw,48px)]/[clamp(2rem,7vw,4rem)]  font-bold;
}

@utility text-sub-tittle {
  @apply text-[clamp(18px,4.5vw,36px)] font-bold mb-1 sm:mb-2;
}

@utility text-sentence {
  @apply text-[clamp(14px,3.5vw,24px)]/[clamp(1rem,4.5vw,1.8rem)] font-normal;
}
@utility text-sentence-paragraph {
  @apply text-[clamp(16px,3.65vw,20px)] px-[4%] font-medium;
}

/* @utility bg-img {
  @apply h-full bg-cover;
} */
@utility bg-img-opacity-1/2 {
  @apply h-full bg-cover opacity-50 absolute -z-1 inset-0;
}

/* @utility hamburger-menu {
    @apply after:w-full
    before:w-full   
  after:h-full
  before:h-full 
  after:content-['']  
  before:content-['']  
  after:bg-white
  before:bg-white 
  bg-white                           //IT IS TOO MUCH TO MANAGE IF YOU GO BY CONTENT PROPERTY IN TAILWIND THAT WHY THEY RECOMMEND IN DOCS THINGS ARE SIMPLER WHEN NOT USING CONTENT AS IT JUST GIVE THE ABILITY TO HAVE A ONLY FOR STYLING ELEMENT AFTER IT IS NOT SOM IMPORTANT. 
  after:absolute
  after:top-2
  before:absolute
  before:bottom-2
  after:rounded-[1px]
  before:rounded-[1px];
} */
